# Core
Django==5.2.14
gunicorn==23.0.0
whitenoise==6.12.0

# Database
psycopg2-binary==2.9.12

# Environment
python-decouple==3.8

# API
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
PyJWT==2.12.1
drf-spectacular==0.29.0

# Filtering
django-filter==25.2

# Image handling
Pillow==11.2.1

# Cache & Async (Phase 2 & 3)
redis==5.0.1
django-redis==5.4.0
celery==5.3.4
django-celery-results==2.5.1
